.titleContainer {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  font-family: Rubik;
}

.ovel {
  height: 45px;
  width: 45px;
  background: #f9f9f9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #00aa82;
  font-weight: 800;
  font-family: Rubik;
}

.title {
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 8px;
  font-family: Rubik;
}
