.container {
  display: flex;
  justify-content: center;
}
.header {
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  grid-gap: 5px;
}

.hackum {
  color: #00AA82;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.main {
  max-width: 800px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 80px;
}

.h1 {
  margin-top: 48px;
  color: #00aa82;
  font-size: 25px;
  text-align: center;
}

.p {
  color: #818181;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 48px;
}

.little {
  margin: 0 0 8px 0;
}

.box {
  margin-top: 16px;
}

.plus {
  background-color: #EBF8F5;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: #00AA82;
  border-width: 1px;
  line-height: 1.410;
  margin-bottom: 24px;
}

.row {
  display: flex;
  grid-gap: 13px;
  flex-direction: row;
  align-items: center;
  
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #2c73e8;
  width: 100%;
  border: 0;
  padding: 18px;
  text-transform: uppercase;
  border-radius: 14px;
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
  transition: ease-in 100ms;
  align-items: center;
  z-index: 0;
  height: px;
}

.button:hover {
  opacity: 0.8;
}

.max {
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
}